{% extends 'base.html' %}
{% load static %}
{% block title %}
    Posts
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..."
                               aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="row tm-row">
                {% for post in posts %}
                    <article class="col-12 col-md-6 tm-post">
                        <hr class="tm-hr-primary">
                        <a href="{{ post.get_absolute_url }}" class="effect-lily tm-post-link tm-pt-60">
                            <div class="tm-post-link-inner">
                                <img src="{{ post.image.url }}" alt="Image" class="img-fluid">
                            </div>
                            <span class="position-absolute tm-new-badge">New</span>
                            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{ post.title }}</h2>
                        </a>
                        <p class="tm-pt-30">
                            {{ post.content|truncatewords:20 }}
                        </p>
                        <div class="d-flex justify-content-between tm-pt-45">
                            <span class="tm-color-primary">{{ post.category.name }}</span>
                            <span class="tm-color-primary">{{ post.created_date.date|timesince }}</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span>36 comments</span>
                            <span>{{ post.author.email }}</span>
                        </div>
                    </article>
                {% endfor %}


            </div>
            <div class="row tm-row tm-mt-100 tm-mb-75">

                <div class="tm-prev-next-wrapper">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}"
                           class="mb-2 tm-btn tm-btn-primary tm-prev-next tm-mr-20">Prev</a>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
                    {% endif %}
                </div>

                <div class="tm-paging-wrapper">
                    <span class="d-inline-block mr-3">Page</span>
                    <nav class="tm-paging-nav d-inline-block">
                        <ul>
                            {% for num in page_obj.paginator.page_range %}
                                {% if num == page_obj.number %}
                                    <li class="tm-paging-item active">
                                        <a class="mb-2 tm-btn tm-paging-link">{{ num }}</a>
                                    </li>
                                {% else %}
                                    <li class="tm-paging-item">
                                        <a href="?page={{ num }}" class="mb-2 tm-btn tm-paging-link">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </nav>
                </div>
            </div>
            <footer class="row tm-row">
                <hr class="col-12">
                <div class="col-md-6 col-12 tm-color-gray">
                    Design: <a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-external-link">TemplateMo</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Copyright 2020 Xtra Blog Company Co. Ltd.
                </div>
            </footer>
        </main>
    </div>
{% endblock %}